
body {
    background-color: hsl(216, 12%, 8%);
    font-family: "Overpass", sans-serif;
    height: 100vh;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: left;
    background: linear-gradient(
        hsl(213, 19%, 18%),
        hsl(220, 11%, 11%)
    );
    border-radius: 1rem;
    max-width: 250px;
}

.icon {
    width: 35px;
    height: 35px;
    background-color: hsl(223, 11%, 24%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.star-icon {
    width: 15px;
    height: 15px;
}
h1 {
    color: hsl(0, 100%, 100%);
    font-size: 22px;
    margin: 0px;
    margin-top: 30px;
    display: flex;
    text-align: left
}

.maintext {
    color: hsl(217, 12%, 63%);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 10px;

}
.ratings {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ratings button {
    background-color: hsl(223, 11%, 24%);
    color: hsl(217, 12%, 63%);
    border: none;
    display: block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-family: Overpass, sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;

}
.ratings button:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  .ratings button.active {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
  }

.submit-btn {
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 20px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}
.submit-btn:hover {
    cursor: pointer;
    background-color: hsl(0, 100%, 100%);

}

.thankyou-container {
    position: relative;
    display: none;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(
        hsl(213, 19%, 18%),
        hsl(220, 11%, 11%)
    );
    border-radius: 1rem;
    width: 90%;
    max-width: 300px;
  }
.thankyou-icon {
    margin-top: 20px;
    height: 80px;
}

.select-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(223, 11%, 24%);
    border-radius: 25px;
    color:hsl(25, 97%, 53%);
    font-size: 12px;
    width: 150px;
    height: 25px;
    font-weight: 400;
    margin-top: 30px;
}

.thankyou-title {
    margin-top: 20px;
    font-weight: 400;
}

.thankyou-txt {
    color: hsl(217, 12%, 63%);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }